# config.yaml   （多 peer 版本示例）

server:
  name: rocky-home
  address: "10.10.0.1/24"
  listen_port: 51820

  private_key: "mCqcYgkgHiKiTpEYmeT/0qPpEan8V/s38GHHEBdZh3g="
  public_key:  "0Jyo3iwYaHrqPZv5zp0bzexMyRRVYA9V0T+PqE+m0Sw="

  # 当前家里的实际物理 IP
  endpoint_host: "192.168.1.6"
  endpoint_port: 51820

  post_up:
    - "sysctl -w net.ipv4.ip_forward=1"
  post_down:
    - "sysctl -w net.ipv4.ip_forward=0"

  # 客户端通过隧道访问的网段（客户端配置中的 AllowedIPs）
  client_allowed_ips:
    - "10.10.0.0/24"


peers:
  # 1. Tokamak-1（Windows）—— 已经在用的客户端
  - name: "tokamak-1"
    address: "10.10.0.2/32"

    private_key: "6JZj2U1AcGnKEkg+hBMjIEove8jV0roMF25O/zxWb2M="
    public_key:  "PJVDyfR2OMFgWayruppNwd6KW5M/7iwHafYQKSYw1Eg="

    # server 视角：经过 tokamak-1 可以到达的地址
    allowed_ips:
      - "10.10.0.2/32"

    dns:
      - "1.1.1.1"

    persistent_keepalive: 25


  # 2. Tokamak-3（MacBook）—— 示例：第二个客户端
  - name: "tokamak-3"
    address: "10.10.0.3/32"

    # 在 tokamak-3 上生成：wg genkey | tee priv | wg pubkey | tee pub
    # 然后把这两个值贴到下面两个字段里
    private_key: "MGUypxZuPLYOQFsX9fMUU0YnVrNI122AJszY3nq5YEg="
    public_key:  "VJrvONDfiLp6n/sg9RnUejinsdiX7IfyLb6CPuoJ+U0="

    allowed_ips:
      - "10.10.0.3/32"

    dns:
      - "1.1.1.1"
    persistent_keepalive: 25


  # 3. Tokamak-2（工位 WSL / Ubuntu）—— 示例：第三个客户端
  - name: "tokamak-2"
    address: "10.10.0.4/32"

    # 在 tokamak-2 上生成密钥，然后替换
    private_key: "oEL/8zOrw2TZA2UnaYd5xmA+oSGIp/lWKL7SvnPImUg="
    public_key:  "0BsjwfAKkoNSB2ltH/EJW5EByg7GXJize2t5gYW2szs="

    allowed_ips:
      - "10.10.0.4/32"

    dns:
      - "1.1.1.1"
    persistent_keepalive: 25
